<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Suppliers</title>
</head>
  
  <body id = "supply" style="background-image: url(71.jpg) no-repeat;">
        <h2 style="text-align: center;font-family:Courier New; margin-top:100px; font-size: 50px; font-weight: bold; color:rgb(0, 0, 0); background-color: rgb(151, 126, 126); margin-left:auto; margin-right:auto; ">WELCOME TO YOUR LIST OF DRUG SUPPLIERS 📳</h2>
        <table style="margin-left:auto;margin-right:auto; text-align:center;width:80%; border:2px solid black; margin-top: 80px; background-color: rgba(255, 255, 255, 0.767)" >
        <tr style="font-size: 30px; font-family:'Monospace';">
            <th style="padding:10px;">SUPPLIER NAME</th>
            <th style="padding:10px;">LOCATION</th>
            <th style="padding:10px;">CONTACT</th>
           
        </tr>
        
        <tr style="font-size: 15px; font-weight: bold;">
            <td>TOBINCO PHARMACEUTICALS LIMITED<br></td>
            <td>EAST-LEGON</td>
            <td>+334567568431</td>
            </tr><br>
            <tr style="font-size: 15px; font-weight: bold;">
            <td>THOMAS WHOLESALE DRUGS<br></td>
            <td>ROMAN-RIDGE</td>
            <td>+443907654212</td>
            </tr><br>
            <tr style="font-size: 15px; font-weight: bold;">
                <td>RICHARD WHOLESALE DRUGS<br></td>
                <td>AIRPORT HILLS</td>
                <td>+54404432180</td>

            </tr><br>

            <tr style="font-size: 15px; font-weight: bold;">
                <td>TEMA WHOLESALE DRUGS<br></td>
                <td>AIRPORT HILLS</td>
                <td>+54404432180</td>

            </tr><br>
            
            <tr style="font-size: 15px; font-weight: bold;">
                <td>HOLY TRINITY SUPPLIES<br></td>
                <td>SOGAKOPE</td>
                <td>+2334997373201</td>

            </tr><br>
            <tr style="font-size: 15px; font-weight: bold;">
                <td>PHARMATRUST WHOLESALE DRUGS<br></td>
                <td>AKOSOMBO</td>
                <td>+233256322209<br></td>

            </tr><br>
            <tr style="font-size: 15px; font-weight: bold;">
                <td>KEMA WHOLSALE DRUGS<br></td>
                <td>ASHAIMAN</td>
                <td>+233777444882<br></td>

            </tr>
            <tr style="font-size: 15px; font-weight: bold;">
                <td>TEMA RETAIL DRUGS<br></td>
                <td>TEMA</td>
                <td>+543221334544</td>

            </tr>
            <tr style="font-size: 15px; font-weight: bold;">
                <td>AMALINA RETAIL DRUGS<br></td>
                <td>CAPECOAST</td>
                <td>+888201235489</td>

            </tr><br>
            <tr style="font-size: 15px; font-weight: bold;">
                <td>PENTECOSTAL WHOLESALE DRUGS<br></td>
                <td>ABURI</td>
                <td>+222145218736</td>

            </tr><br>
            <tr style="font-size: 15px; font-weight: bold;">
                <td>NHYIRA NKA NYAME DRUGS<br></td>
                <td>KASOA</td>
                <td>+874236989999</td>

            </tr>
    
    
        </tr>
        
    </table>
    
    
</body>

</html>